__pycache__/
env
*.swp

# data
Nextcloud/db/
Nextcloud/log/
Nextcloud/nextcloud/
certs/
my_vnc/build/
OauthServer/db.sqlite
OauthServer/oauthserver/templates/help.html
registry_data/
sshpiper/

# log
log
*.log

# github
my_vnc/websockify/
my_vnc/noVNC/
