__pycache__/
env
*.swp

# data
Nextcloud/db/
Nextcloud/log/
Nextcloud/nextcloud*/
certs/
registry_data/
novnc/build/
Portus/db
Portus/registry
harbor/database
harbor/jobservice
harbor/redis
harbor/registry
harbor/tls.*
harbor/*.crt

# log
log
*.log
celerybeat-schedule

# github
novnc/websockify/
novnc/noVNC/
harbor/harbor-helm

install-k8s/calico.yaml
install-k8s/k8s-install-worker-tmp.sh

