*.swp
config.yaml

# data
Nextcloud/db/
Nextcloud/log/
Nextcloud/nextcloud/
certs/
harbor/database
harbor/jobservice
harbor/redis
harbor/registry

# github repo
harbor/harbor-helm
labbox

# temp data
install-k8s/calico.yaml
install-k8s/k8s-install-worker-tmp.sh
kube_log

