<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"> {{ current_user.id }} </a>
    <form class="form-inline" action="{{ url_for('Logout') }}">
      <button class="btn btn-primary btn-md" type="submit">logout</button>
    </form>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        {% for data in container_list %}
          <div class="card my-3">
            <div class="card-header"> {{ data.name }} </div>
            <div class="card-body">
              <h5 class="card-title"> {{ data.id }} </h5>
              <p class="card-text"> {{ data.comment }} </p>

              <div class="btn-group" role="group">
                <form action="{{ url_for('Resume') }}" method="post">
                  <input type="hidden" name="id"     value="{{data.id}}"/>
                  <input type="submit" value="Resume" class="btn btn-outline-primary"/>
                </form>
                <button type="button" class="btn btn-outline-warning"
                        onclick="send('{{data.id}}', 'Restart')">Restart</button>
                <button type="button" class="btn btn-outline-danger"
                        onclick="send('{{data.id}}', 'Reset')"  >Reset  </button>
                <button type="button" class="btn btn-outline-danger"
                        onclick="send('{{data.id}}', 'Remove')" >Remove </button>
                </div>
            </div>
            <div class="card-footer text-muted"> {{ data.time }} </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>
<script>
  function send(id, method) {
    var request = new XMLHttpRequest();
    request.open('POST', "{{ url_for('apis') }}", true);
    request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    request.send(JSON.stringify({"id": id, "method": method}));
  }

</script>
</html>
