<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Title</title>
</head>
<body>

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"> {{ current_user.id }} </a>
    <form class="form-inline" action="{{ url_for('Logout') }}">
      <button class="btn btn-primary btn-md" type="submit">logout</button>
    </form>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        {% for data in container_list %}
          <div class="card my-3">
            <div class="card-header"> {{ data.name }} </div>
            <div class="card-body">
              <h5 class="card-title"> status: {{ data.status }} </h5>
              <p class="card-text"> {{ data.comment }} </p>

              <div class="btn-group" role="group">
                <form action="{{ url_for('Resume') }}" method="post">
                  <input type="hidden" name="id"     value="{{data.id}}"/>
                  <input type="submit" value="Resume" class="btn btn-outline-primary"/>
                </form>

                <form action="{{ url_for('apis') }}" method="post">
                  <input  type="hidden" value="{{data.id}}" name="id"/>
                  <input  type="hidden" value=""            name="method"/>
                  <input  type="submit" value="Restart" onclick="changeMethod('Restart')"
                          class="btn btn-outline-warning"/>
                  <input  type="submit" value="Stop"    onclick="changeMethod('Stop')"
                          class="btn btn-outline-danger"/>
                </form>
              </div>
            </div>
            <div class="card-footer text-muted"> {{ data.id[:10] }} </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>
<script>
  function changeMethod(method) {
    document.querySelector("input[name='method']").value = method;
  }

</script>
</html>
