<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        {% for data in container_list %}
          <div class="card mb-3">
            <div class="card-header">
              {{ data.name }}
            </div>
            <div class="card-body">
              <h5 class="card-title"> {{ data.id }} </h5>
              <p class="card-text"> {{ data.comment }} </p>
              <a href="{{ data.url }}" class="btn btn-primary">Start</a>
            </div>
            <div class="card-footer text-muted"> {{ data.time }} </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>
</html>
